html {
    height: 100%;
}

body {

    height: 100%;
    color:green;
    background-image:url("https://ih0.redbubble.net/image.106530266.8493/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u7.jpg");
    animation-name: backGround1;
    animation-direction: alternate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: url("https://www.bookweb.org/files/hankgreen.jpg");
    background-size:400%;

    animation-name: size;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes size{
    from1{background-size:400%;}
    to{background-size:1%;}
    
}




.social-image{
    width: 30px;
    margin: 15px;
}

.rightPane{
    background-image: url("https://cdn.kastatic.org/googleusercontent/D_KhuX5H-HSuS0uPjhP1AqVMViW7IeKn1rWTzLc4OjrSvMvWA_MEbAKzF10_K2u3dgsBlpd9smfWhDXtjMmPWl5H");
    
}

@keyframes backGround1{
    from{
        background-image:url("https://ih0.redbubble.net/image.106530266.8493/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u7.jpg");
    }
    to{
        background-image: url("https://static.tumblr.com/e7a0a773abf6c9b3221eba0679223457/azovbxc/pNAnca8j5/tumblr_static_tumblr_static_c8u6ue4xab4s0ssg4gwcc0gc0_640.png");
    }
}

/*@keyframes backGround2{*/
/*    from{*/
/*        left: 0px;*/
/*        top: 0px;*/
/*    }*/
/*    to{*/
    
/*        left: infinite;*/
/*        top:infinite;*/
/*    }*/
/*}*/

@keyframes excitedState{
    from{border-color:red;}
    20%{border-color:orange;}
    40%{border-color:yellow;}
    60%{border-color:green;}
    80%{border-color:blue;}
    to{border-color:purple;}
    
}


.navbar{
    display:flex;
    justify-content: space-around;
    background:white;
    border:double 5px black;
    
}

/*.navbar a{*/
    
/*}*/

.header{
    display: flex;
    justify-content:center;
    font-size: 25px;

}

.footer{
    display:flex;
    justify-content:center;
    background-color:black;

}

.aboutMain,.gallery{
    display:flex;
    flex-wrap:wrap;
    background-color:white;
    border:1px black solid;
}

.gallery{
    justify-content:space-around;

}

.gallery img{
    width:200px;
    height:200px;
}

.aboutMain{
    display: flex;
    flex-wrap:wrap;
    height:100%;
}

.rightPane, .leftPane,.rightRightPane{
    width:33.3333%;    
    box-sizing: border-box;
    border:solid 5px black;
    
}
.rightPane:hover, .leftPane:hover,.rightRightPane:hover{

    animation-name: excitedState;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#aboutAboutText{
    padding:35px;    
}

/*gallery thumb nail css. yay.*/
.thumbnail{
    border:solid 20px;
    border-radius:10%;
    margin:50px;
    border-bottom-color: red;
}

.rightPane{
    background-size:100%;

    animation-name: size;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}